<div class="navigation-container">
  <nav class="nav-primary" role="navigation" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
      <div class="wrap">
          <ul id="menu-left-menu" class="menu genesis-nav-menu menu-primary">
              <li id="menu-item-2795" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2774 current_page_item menu-item-2795">
                  <a href="{{site.url}}/index.html">HOME</a>
              </li>
              <li id="menu-item-2793" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2793">
                  <a href="{{site.url}}/publications.html">Publications</a>
              </li>
              <li id="menu-item-2780" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2780">
                  <a href="{{site.url}}/research.html">Research</a>
              </li>
          </ul>
      </div>
  </nav>

  <nav class="nav-secondary" role="navigation" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
      <div class="wrap">
          <ul id="menu-right-menu" class="menu genesis-nav-menu menu-secondary">
              <li id="menu-item-2796" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2796">
                  <a href="{{site.url}}/funding.html">Funding</a>
              </li>
              <li id="menu-item-2788" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2788">
                  <a href="{{site.url}}/group.html">Group</a>
              </li>
              <li id="menu-item-2789" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2789">
                  <a href="{{site.url}}/about.html">About</a>
              </li>
          </ul>
      </div>
  </nav>
</div>