<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<meta charset="UTF-8">
	<link type="text/css" media="all" href="/css/styles.css" rel="stylesheet">
	<meta name="description" content="He Wang - A Researcher Blending Virtual and Real World">
	<meta name="keywords" content="computer scientist, computer graphics and animation, computer vision, machine learning, University College London">
	<meta name="robots" content="noodp,noydir">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<title>{{ page.title }}</title>
  </head>
  <body class="home page page-id-2774 page-template-default custom-header header-image header-full-width content-sidebar" itemscope="itemscope" itemtype="https://schema.org/WebPage">
  	<div class="site-container">
		<header class="site-header" role="banner" itemscope="itemscope" itemtype="https://schema.org/WPHeader">
			<div class="wrap">
				<div class="title-area">
					<h1 class="site-title" itemprop="headline"><a href="{{site.url}}/index.html">He Wang</a></h1>
					<h2 class="site-description" itemprop="description">He Wang is an Associate Professor at University College London</h2>
				</div>
			</div>
		</header>
		{% include navigation.html %}
		{{ content }}
		<div style="margin-top:100px"/>
		<footer class="site-footer" role="contentinfo" itemscope="itemscope" itemtype="https://schema.org/WPFooter">
			{% include footer.html %}
		</footer>
	</div>
  </body>
</html>